* {
    margin: 0;
    padding: 0;
}

body {
    background: no-repeat url(./Images/page_background_image3.jpg) center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    font-family: 'Courier New', Courier, monospace;
}

kbd {
    font-size: 4rem;
    color: white;
}

.no-select {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

.hContainer {
    display: flex;
    flex-direction: row;
}

.vContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#sound-bar {
    height: 30;
    width: 1000;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 20rem;
    margin-left: 2rem;
    margin-right: 2rem;
}

.option {
    transition: .1s;
    height: 6rem;
    width: 6rem;
    margin-top: 2rem;
    cursor: pointer;
    border: .3rem solid black;
    border-radius: 15%;
    box-shadow: 0 2px 4.6px rgba(0, 0, 0, 0), 0 6.7px 15.4px rgba(0, 0, 0, 0), 0 30px 69px rgba(0, 0, 0, 0);
}

.playing {
    transition-timing-function: linear;
    transition: .1s;
    height: 6.5rem;
    width: 6.5rem;
    border-color: #e6b800;
    box-shadow: 0 2px 4.6px rgba(0, 0, 0, 0.404), 0 6.7px 15.4px rgba(0, 0, 0, 0.596), 0 30px 69px rgba(0, 0, 0, 1);
}

.sound-description {
    color: #e6b800;
    font-size: 1.2rem;
}