* {
    margin: 0;
    padding: 0;
}

body {
    background: no-repeat url(./Images/page_background_image.jpg);
    background-size: cover;
    background-position: left 1rem;
    font-family: 'Courier New', Courier, monospace;
}

kbd {
    font-size: 4rem;
    color: white;
}

.no-select {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

.hContainer {
    display: flex;
    flex-direction: row;
}

.vContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#sound-bar {
    height: 30;
    width: 1000;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 34rem;
    margin-left: 20rem;
    margin-right: 20rem;
}

.option {
    transition: .5s;
    height: 6rem;
    width: 6rem;
    cursor: pointer;
    border: .3rem solid black;
    border-radius: 15%;
    box-shadow: 0 1.4px 1.9px rgba(0, 0, 0, 0.014), 0 3.3px 4.6px rgba(0, 0, 0, 0.02), 0 6.3px 8.6px rgba(0, 0, 0, 0.025), 0 11.2px 15.4px rgba(0, 0, 0, 0.03), 0 20.9px 28.8px rgba(0, 0, 0, 0.036), 0 50px 69px rgba(0, 0, 0, 0.05);
}

.playing {
    transition-timing-function: linear;
    transition: .5s;
    border-color: #e6b800;
    box-shadow: 0 1.4px 1.9px rgba(0, 0, 0, 0.112), 0 3.3px 4.6px rgba(0, 0, 0, 0.162), 0 6.3px 8.6px rgba(0, 0, 0, 0.2), 0 11.2px 15.4px rgba(0, 0, 0, 0.238), 0 20.9px 28.8px rgba(0, 0, 0, 0.288), 0 50px 69px rgba(0, 0, 0, 0.4);
}

.sound-description {
    color: #e6b800;
    font-size: 1.2rem;
}